.main {
  max-height: 200px;
   margin: 10px;
   margin-bottom:25px;
   border-radius: 20px;
    background-color: rgba(255,255,255, .5);
    display: flex;
    transition: 0.5s;
}
 .main:hover {
     display: flex;
     transition: 0.5s;
     filter: brightness(0.7);
 }
.img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    right: 50px;
}

.imgwrap{
    position: static;
    width: 55%;
}
.close {
    padding: 1%;
}
.title{
    font-family: 'Ubuntu Condensed';
    font-weight: bolder;
    position: fixed;
    margin-left: 30px;
    font-size: 30px;
    color: rgba(0,0,0,0.7)

}

.stats{
    position: static;
    display: inline-table;
  margin-top: 20%;
    text-align: left;
    line-height: 0.1;
   font-size: 15px;
   margin-left: 5%;
    
}
.text {
    width: 100%;
}

.key {
    font-family: 'IBM Plex Sans Arabic';
    font-weight:600;
    display: inline;
    line-height: 0.1;
    color: rgba(0,0,0,0.7)
}
.value {
    text-align: end;
    font-weight: 500;
    font-size: medium;
}

.textwrap{
    width: 140%;
}

.herobadge{
 padding: 1%;
 color: rgb(40, 60, 70);
 font-weight: 600;
 border-radius: 20px;
 background-color: #518CCA;
 position: absolute;
 right: 7%;
 margin-top: 12px;
}

.villainbadge{
    padding: 1%;
    color: #66070a;
    font-weight: 600;
    border-radius: 20px;
    background-color: #F0131E;
    position: absolute;
    right: 7%;
    margin-top: 12px;
   }